---
---

body {
   background-color: rgb(255, 255, 255);
}

#Kitki30-h1-text {
    color: black;
    text-align: center;
    padding: 20px;
}

.centered-buttons{
   text-align: center;
   justify-content: center;
}
